

<footer class="d-flex justify-content-center align-items-center">

    <div class="allData ms-3 container d-flex justify-content-around align-content-around  text-center">
     <div class="location text-light">
       <h3>LOCATION</h3>
       <p>2215 John Daniel Drive</p>
       <p>Clark, MO 65243</p>
     </div>
     <div class="around text-light">
       <h3>AROUND THE WEB</h3>
       <div class="icons mt-3 d-flex justify-content-center align-content-center">
         <i class="fa-brands fa-facebook icon"></i>
         <i class="fa-brands fa-twitter icon"></i>
         <i class="fa-brands fa-linkedin-in icon"></i>
         <i class="fa-solid fa-globe icon"></i>
       </div>
     </div>
     <div class="about text-light">
       <h3 class="text-center">ABOUT FREELANCER</h3>
       <p class="pAbout text-center">Freelance is a free to use, licensed Bootstrap <br>theme created by Route</p>
     </div>
 
    </div>
 
   </footer>
 
   <div class="copyright text-center text-light p-3">
     <h5 class="fw-lighter">Copyright © Your Website 2021</h5>
   </div>
