
<section id="contact" class="mt-5">

    <h2 class="h2Portfolio h1 fw-bolder text-center">CONATCT SECTION</h2>
    <div class="lineAndStar d-flex justify-content-center align-content-center">
        <div class="line1 mt-3 me-3"></div>
        <i class="fa-solid fa-star text-light mt-2 fs-5"></i>
        <div class="line2 mt-3 ms-3"></div>
    </div>
    <div class="form container mt-4">
        <div class="form-floating mb-3 w-75 m-auto">
            <input type="text" class="form-control border-top-0 border-start-0 border-end-0  " id="floatingInput" placeholder="userName">
            <label for="floatingInput ">userName</label>
          </div>
        <div class="form-floating mb-3 w-75 m-auto">
            <input type="text" class="form-control border-top-0 border-start-0 border-end-0  " id="floatingInput" placeholder="userAge">
            <label for="floatingInput">userAge</label>
          </div>
        <div class="form-floating mb-3 w-75 m-auto">
            <input type="text" class="form-control border-top-0 border-start-0 border-end-0  " id="floatingInput" placeholder="userEmail">
            <label for="floatingInput">userEmail</label>
          </div>
        <div class="form-floating mb-3 w-75 m-auto">
            <input type="text" class="form-control border-top-0 border-start-0 border-end-0  " id="floatingInput" placeholder="userPassword">
            <label for="floatingInput">userPassword</label>
          </div>

        <button class="btn text-center mb-5">send Massege</button>
          
    </div>
  </section>