
<section id="portfolio">

    <h2 class="h2Portfolio fw-bolder text-center">PORTFOLIO COMPONENT</h2>
    <div class="lineAndStar d-flex justify-content-center align-content-center">
        <div class="line1 mt-3 me-3"></div>
        <i class="fa-solid fa-star mt-2 fs-5"></i>
        <div class="line2 mt-3 ms-3"></div>
    </div>

    <div class="cardss container mt-2">
        <div class="row ">

            <div class="col-md-4 ">
                <div class="item mt-3 mb-2 " >
                    <div class="specificItem position-relative d-flex justify-content-center align-items-center " >
                      <button class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img class="myImg " src="assets/images/poert1.png" alt="home from wood Surrounded by garden">
                        <div class="layer__ position-absolute  d-flex justify-content-center align-items-center"><i class=" fa-solid fa-plus fa-6x"></i></div>
                      </button>
                      
                       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                              <img src="assets/images/poert1.png" alt="home from wood Surrounded by garden">
                        </div>
                       </div> 
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="item  mt-3 mb-2">
                  <div class="specificItem position-relative d-flex justify-content-center align-items-center " >
                      <button class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        <img class="myImg" src="assets/images/port2.png" alt="A piece of chocolate gateau with baby blue background">
                        <div class="layer__ position-absolute  d-flex justify-content-center align-items-center"><i class=" fa-solid fa-plus fa-6x"></i></div>
                      </button>
                      
                       <div class="modal fade" id="exampleModal1" tabindex="1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog">
                              <img src="assets/images/port2.png" alt="A piece of chocolate gateau with baby blue background">
                        </div>
                       </div> 
                      </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="item  mt-3 mb-2">
                  <div class="specificItem position-relative d-flex justify-content-center align-items-center " >
                      <button class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        <img class="myImg" src="assets/images/port3.png" alt="circus with circle focus and black background">
                        <div class="layer__ position-absolute  d-flex justify-content-center align-items-center"><i class=" fa-solid fa-plus fa-6x"></i></div>
                      </button>
                      
                       <div class="modal fade" id="exampleModal2" tabindex="1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog">
                              <img src="assets/images/port3.png" alt="circus with circle focus and black background">
                        </div>
                       </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
              <div class="item  mt-3 mb-4" >
                <div class="specificItem position-relative d-flex justify-content-center align-items-center " >
                    <button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                      <img class="myImg" src="assets/images/poert1.png" alt="home from wood Surrounded by garden">
                      <div _ngcontent-fvo-c19="" class="layer__ position-absolute  d-flex justify-content-center align-items-center"><i _ngcontent-fvo-c19="" class=" fa-solid fa-plus fa-6x"></i></div>  
                    </button>
                     <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                      <div class="modal-dialog">
                            <img src="assets/images/poert1.png" alt="home from wood Surrounded by garden">
                      </div>
                     </div> 
                  </div>
              </div>
            </div>
            
            <div class="col-md-4 ">
              <div class="item  mt-3 mb-4">
                <div class="specificItem position-relative d-flex justify-content-center align-items-center " >
                    <button class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                      <img class="myImg" src="assets/images/port2.png" alt="A piece of chocolate gateau with baby blue background">
                      <div class="layer__ position-absolute  d-flex justify-content-center align-items-center"><i class=" fa-solid fa-plus fa-6x"></i></div>  
                    </button>
                     <div class="modal fade" id="exampleModal4" tabindex="1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                      <div class="modal-dialog">
                            <img src="assets/images/port2.png" alt="A piece of chocolate gateau with baby blue background">
                      </div>
                     </div> 
                    </div>
              </div>
          </div>

          <div class="col-md-4 ">
            <div class="item  mt-3 mb-4">
              <div class="specificItem position-relative d-flex justify-content-center align-items-center " >
                  <button class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                    <img class="myImg" src="assets/images/port3.png" alt="circus with circle focus and black background">
                    <div class="layer__ position-absolute  d-flex justify-content-center align-items-center"><i class=" fa-solid fa-plus fa-6x"></i></div>                    
                  </button>           
                   <div class="modal fade" id="exampleModal5" tabindex="1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                    <div class="modal-dialog">
                          <img src="assets/images/port3.png" alt="circus with circle focus and black background">
                    </div>
                   </div>
                </div>
            </div>
        </div>   
        </div>
    </div>
  </section>
