/* You can add global styles to this file, and also import other style files */

@media (max-width:700px) {
    .form-floating{
      width: 100% !important;
    }
    #contact button{ 
      margin-left: 0rem;
    }
    .allData{
      flex-wrap: wrap;
    }
    .location,.around,.about{
      padding-bottom: 50px;
    } 
    #image{
        width: 70%;
       margin: auto;
    }
}