
<section id="home">

    <div class="imgHome text-center">
      <img src="assets/images/avataaars.svg" width="300px" alt="">
    </div>

    <div class="homeTexting">
        <h1 class="h1HomeTexting mt-4 text-light text-center ">START FRAMEWORK</h1>
        <div class="lineAndStar d-flex justify-content-center align-content-center">
           <div class="line1 mt-3 me-3"></div>
           <i class="fa-solid fa-star text-light mt-2 fs-5"></i>
           <div class="line2 mt-3 ms-3"></div>
        </div>
        <p class="text-center text-light fs-5 mt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>

  </section>
